:80, :443 {
    # 1. Reverse proxy to backend
    handle /api/* {
        uri strip_prefix /api
        reverse_proxy backend:8080
    }

    # 2. Application server
    handle {
        root * /app/front
        file_server
        try_files {path} /index.html
    }
}